<%- include("partials/header.ejs") %>


<h1 class="fw-bold">Welcome to my Blog</h1>
<br>
<h4 class="fw-light">Blog posts</h2>
<div class="blog-posts-container">
  <% if (locals.blogPosts && locals.blogPosts.length > 0) { %>
    <% blogPosts.forEach(function(post) { %>
      <div class="p-3 bg-body-tertiary border rounded-3 overflow-hidden" style="height: 150px;"> 
        <button onclick="window.location.href='/post/<%= post.id %>'">
        <!-- <div class="blog-post"> -->
          <div class="d-flex flex-wrap gap-2 justify-content-between">
            <h5 style="font-weight: bold;"><%= post.title %></h5>
            <p style="font-weight: small;"><%= post.author %>, <span style="color: grey;">#id: <%= post.id %></span></p>
          </div>
          <br>
          <p style="
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;"><%= post.content %></p>
        </button>
      </div>
      <% }); %>
    <% } else { %>
      <p>No blog posts yet :/</p>
    <% } %>
</div>
<button type="submit" onclick="window.location.href='/create-post'" class="btn btn-outline-success">Create Post</button>
</section>

<%- include("partials/footer.ejs") %>
