<%- include("partials/header.ejs") %>


  <h1 class="">Welcome to my Blog</h1>
  <br>
  <h4 class="">Blog posts</h2>
  <div class="blog-posts-container">
  <% if (locals.blogPosts && locals.blogPosts.length > 0) { %>
    <% blogPosts.forEach(function(post) { %>
      <button onclick="window.location.href='/post/<%= post.id %>'">
        <div class="blog-post">
          <div class="d-flex justify-content-between">
            <h5 style="font-weight: bold;"><%= post.title %></h5>
            <p style="font-weight: small;"><%= post.author %>, <span style="color: grey;">#id: <%= post.id %></span></p>
          </div>
          <br>
          <p><%= post.content %></p>
        </div>
      </button>
    <% }); %>
  <% } else { %>
    <p>No blog posts yet :/</p>
  <% } %>
</div>
<button type="submit" onclick="window.location.href='/create-post'" class="btn btn-dark">Create Post</button>

</section>

<%- include("partials/footer.ejs") %>
